In [4]:
import pandas as pd
ticket=pd.read_csv(r'..\Données\Ticket_20240801.csv',sep='|')
article=pd.read_csv(r'..\Données\Article_20240801.csv',encoding='Latin1',sep=';')

In [9]:
import createur_script as cs
import importlib
importlib.reload(cs)

In [11]:
cs.crea_script(article,'ARTICLE_exp',write=True)

'CREATE TABLE ARTICLE_exp (\n     COD_MRQ VARCHAR(3),\n     LIB_MRQ VARCHAR(26),\n     COD_ART FLOAT,\n     LIB_PRD VARCHAR(40),\n     LIB_COL VARCHAR(21),\n     LIB_TAI VARCHAR(9),\n     FAM VARCHAR(25),\n     SS_FAM VARCHAR(30),\n     PRX_VEN FLOAT,\n     LIB_GEN VARCHAR(6),\n     CIB_TRN_AGE VARCHAR(11),\n     COD_CAT VARCHAR(3),\n     LIB_CAT VARCHAR(16),\n);'

In [96]:
crea_script(all_stats(ticket),'ticket',[''],True)

'CREATE TABLE ticket (\n     COD_ENS VARCHAR(3),\n     LIB_ENS VARCHAR(6),\n     LIB_MAG VARCHAR(25),\n     COD_ART FLOAT,\n     DAT_HEU_TIC VARCHAR(19),\n     NUM_TIC FLOAT,\n     NUM_TIC_LIG FLOAT,\n     COD_CAI FLOAT,\n     COD_VEN VARCHAR(6),\n     QTE FLOAT,\n     MNT_BRU FLOAT,\n     MNT_TTC FLOAT,\n     COD_DEV VARCHAR(3),\n     TX_TVA FLOAT,\n     REM_LIN FLOAT,\n     REM_TIC FLOAT,\n     TX_DEV FLOAT,\n     COD_PAY VARCHAR(2),\n     LIB_PAY VARCHAR(8),\n     ADR1 VARCHAR(43),\n     ADR2 VARCHAR(33),\n     ADR3 VARCHAR(52),\n     VIL_MAG VARCHAR(22),\n     COD_POS FLOAT,\n     DEP_MAG VARCHAR(20),\n     REG_MAG VARCHAR(26),\n     TEL VARCHAR(17),\n     EMAIL VARCHAR(31),\n     LNG FLOAT,\n     LAT FLOAT,\n     DAT_OUV VARCHAR(10),\n     DAT_FRM FLOAT,\n     SCHEDULE VARCHAR(174),\nCONSTRAINT pk_ticket PRIMARY KEY (,));'

In [89]:
all_stats(ticket)

{'COD_ENS': ['VARCHAR', 3],
 'LIB_ENS': ['VARCHAR', 6],
 'LIB_MAG': ['VARCHAR', 25],
 'COD_ART': ['FLOAT'],
 'DAT_HEU_TIC': ['VARCHAR', 19],
 'NUM_TIC': ['FLOAT'],
 'NUM_TIC_LIG': ['FLOAT'],
 'COD_CAI': ['FLOAT'],
 'COD_VEN': ['VARCHAR', 6],
 'QTE': ['FLOAT'],
 'MNT_BRU': ['FLOAT'],
 'MNT_TTC': ['FLOAT'],
 'COD_DEV': ['VARCHAR', 3],
 'TX_TVA': ['FLOAT'],
 'REM_LIN': ['FLOAT'],
 'REM_TIC': ['FLOAT'],
 'TX_DEV': ['FLOAT'],
 'COD_PAY': ['VARCHAR', 2],
 'LIB_PAY': ['VARCHAR', 8],
 'ADR1': ['VARCHAR', 43],
 'ADR2': ['VARCHAR', 33],
 'ADR3': ['VARCHAR', 52],
 'VIL_MAG': ['VARCHAR', 22],
 'COD_POS': ['FLOAT'],
 'DEP_MAG': ['VARCHAR', 20],
 'REG_MAG': ['VARCHAR', 26],
 'TEL': ['VARCHAR', 17],
 'EMAIL': ['VARCHAR', 31],
 'LNG': ['FLOAT'],
 'LAT': ['FLOAT'],
 'DAT_OUV': ['VARCHAR', 10],
 'DAT_FRM': ['FLOAT'],
 'SCHEDULE': ['VARCHAR', 174]}